:root {
  --primary-blue: #005792;
  --light-blue: #00bbf0;
  --dark-blue: #00204a;
  --white: #ffffff;
  --yellow: #fdb44b;
  --dark-yellow: #8a6d1b;
  --light-gray: #f0f4f8;
  --dark-gray: #333333;
  --max-content-with: 1280px;
}